.gallery {
    position: relative;
    padding: 80px 0;
    &-carousel {
        position: relative;
        .slick-slide {
            padding: 0 20px;
        }
        img {
            width: 100%;
            height: 340px;
            object-fit: cover;
        }
    }
}